@import "tailwindcss";
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700; /* optional: choose 400, 600, 700, or 800 */
  }
  li,button{
    font-family: 'Mulish', sans-serif;
  }